*{
  margin: 0;
  padding: 0;
  background-color: #FFC0D9;
}

.container{
  width: 100%;
  margin: 64px;
}

.container h2{
  color: #F875AA;
  padding: 16px;
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
  outline: none;
  border: none;
  background-color: white;
  padding: 12px;
  width: 30%;
    position: relative;
    border-radius: 32px;
}


@media screen and (max-width: 360px) {

  .container button{
    top: 17.7%;
    left: 45%;
    width: 26%;
   
  }

}

.container button{
  top: 19%;
  border-radius: 24px;
  padding: 6px;
  border-color: transparent;
  position: absolute;
  left: 29%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 7%;
  height: 6%;
  background-color: #F875AA;
  cursor: pointer;
} 

ul li{
  list-style: none;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 12px;
  width: 30%;
  color: black;
  
}

ul li.done{     /*check*/
  text-decoration: line-through;
  color: gray;
}

ul li span{
  float: right;
  cursor: pointer;
  font-size: 24px;
  color: gray;
  width: 22px;
  height: 22px;
  right: 10px;
  top: 5px;
}
